.inpu {
  width: 100%;
}
form {
  width: 40%;
}
.profile {
  width: 50px;
  height: 50px;
}
input {
  margin-left: 30px;
}
.profile img {
  width: 50px;
  height: 50px;
}
.navbar i{
  font-size: 25px;
}
.navbar .dropdown-toggle::after {
  display: none; 
}
#navbarScroll {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  flex-wrap: wrap;
}
.icons i {
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
}
.sidebar {
  height: 90vh;
  background-color: #f8fafd;
}
.bg-blu {
  background-color: #c2e7ff;
  border: none;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
}
.bt {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}
table {
  width: 100%;
}
.img-1 {
  width: 50px;
  height: 50px;
}
a {
  list-style: none;
  text-decoration: none;
  color: #0158cc;
}
input {
  padding-left: 10px;
}
